[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-swagger-ui = "*"
werkzeug = "*"
flask-jwt-extended = "==4.5.3"
bcrypt = "*"
jwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
